<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <title>FitFam Daily Activity</title>
  </head>
  <body>
    <h1><%= response.runner.name %>'s <%= response.event %> Goals</h1>
    <% if(response.goals.length > 0) { %>
        
        <% for(var idx in response.goals) { %>
            <table>
                <tr>
                    <th> <%= response.runner.name %>'s #<%= parseInt(idx) + 1 %> goal: </th>
                    <% if(response.goals[idx].type == "5k") { %>
                        <td> A 5k length goal of 3.1 miles! </td>
                    <% } %>
                    <% if(response.goals[idx].type == "10k") { %>
                        <td> A 10k length goal of 6.2 miles! </td>
                    <% } %>
                    <% if(response.goals[idx].type == "halfMarathon") { %>
                        <td> A half marathon goal of 13.1 miles! </td>
                    <% } %>
                    <% if(response.goals[idx].type == "custom") { %>
                        <td> A custom goal of <%= response.goals[idx].distance %> miles! </td>
                    <% } %>
                    <% if(response.goals[idx].comment != "") { %>
                        <td> <%= response.runner.name %> says: <%= response.goals[idx].comment %></td>
                    <% } %>
                </tr>
            </table>

            <% if(response.goals[idx].completed == false) { %>
                <button class="addActivity">Add an activity for this goal!</button>
            <% } %>

            <div class="addActivityDiv" hidden>
                <form action="/newactivity" method="post">
                    <br>Date:
                    <input type="date" name="date"></br>
                    <br>Distance (miles):
                    <input type="number" name="distance"></br>
                    <br>Comment:
                    <textarea rows="4" cols="50" name="comment"></textarea><br>
                    <input type="hidden" name="goalIdx" value=<%= idx %>>
                    <br><input type="submit" value="Submit"><br>
                </form>
            </div>

            <% if(response.goals[idx].activities.length > 0) { %>
                <% for(var jdx in response.goals[idx].activities) { %>
                    <table>
                        <tr>
                            <th>Activity #<%= parseInt(jdx) + 1 %>:</th>
                            <td>Date: <%= response.goals[idx].activities[jdx].date %> | </td>
                            <td>Distance: <%= response.goals[idx].activities[jdx].distance %> mile(s) | </td>
                            <td><%= response.runner.name %> says: <%= response.goals[idx].activities[jdx].comment %> </td>
                        </tr>
                    </table>
                <% } %>
            <% } %>

            <% if(response.goals[idx].activityDistance > 0) { %>
                <h3>Total Distance: <%= response.goals[idx].activityDistance %> mile(s)</h3>
            <% } %>

            <h3>Distance to go: <%= response.goals[idx].distanceToGo %> mile(s)</h3>
            
            <% if(response.goals[idx].completed == true) { %>
                <h1>You crushed your goal!  Congratulations!</h1>
            <% } %>
            
        <% } %>
    <% } %>
    <h1>Empower yourself to meet your personal goals.</h1>
    <h2>Get started now!</h2>
    <form action="/newgoal" method="post">
        <br>Goal Type:
        <select id="goalSelect" name="type">
          <option value="5k">5k</option>
          <option value="10k">10k</option>
          <option value="halfMarathon">Half Marathon</option>
          <option value="custom">Custom</option>
        </select><br>
        <div id="customGoal" hidden><br>Custom Amount (mi):
            <input type="number" name="custom"></br></div>
        <br>Comment:
        <textarea rows="4" cols="50" name="comment"></textarea><br>
        <br><input type="submit" value="Submit"><br>
      </form>
  </body>
</html>